body {
    background-color: #000;
}

.main-container {
    width: 100%;
    height: 100%;
}

.row {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container {
    width: 50%;
    text-align: center;
    float: left;
}

.container img {
    max-width: 95%;
    height: auto;
}