* {
    box-sizing: border-box; 
}

body {
    background-color: #000;
}

.main-container {
    width: 100%;
    height: 100%;
}

.row {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a.bouvbuttons {
    font-size: 33vw;
    display: inline-block;
}

a.bouvbuttons, a.bouvbuttons:visited, a.bouvbuttons:link {
    color: #FFF;
}

a.bouvbuttons:hover {
    color: #DCDCDC;
}