* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

a.bouvbuttons {
    font-size: 33vw;
    display: inline-block;
    padding: 2px;
}

a.bouvbuttons, a.bouvbuttons:visited, a.bouvbuttons:link {
    color: red;
}

a.bouvbuttons:hover {
    color: darkred;
}

a.one, a.one:visited, a.one:link {
    color: white;
}

a.two, a.two:visited, a.two:link {
    color: green;
}

a.one:hover {
    color: gray;
}

a.two:hover{
    color: darkgreen;
}
